.btn {
  font-family: inherit;
  outline: 0;
  border: 0;
  display: inline-block;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 1.7rem 3.2rem;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

.btn--fill {
  background-color: $dark-blue;
  display: inline-block;
  color: #fff;
}

.btn--fill:link,
.btn--fill:visited {
  background-color: $dark-blue;
  display: inline-block;
  color: #fff;
}

.btn--fill:hover,
.btn--fill:active {
  background-color: $slightly-desaturated-cyan;
}

.btn--outline:link,
.btn--outline:visited {
  border: 1px solid $grayish-dark-blue;
  color: $grayish-dark-blue;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: $grayish-dark-blue;
  color: #fff;
}

.btn--arrow {
  width: 4.8rem;
  height: 4.8rem;
}

.btn--icon {
  width: 16px;
}

.hamburger {
  position: absolute;
  z-index: 100;
  right: 1rem;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  height: 24px;
}

.menu-close {
  display: none;
}
