.getintouch {
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  margin-top: 3.2rem;

  @media (max-width: 480px) {
    margin-top: 0;
  }

  @media (min-width: 481px) and (max-width: 668px) {
    margin-top: 0;
  }

  &__header {
    grid-column: 1/4;
    margin-top: 4.8rem;

    @media (max-width: 480px) {
      margin-top: 1rem;
      grid-column: 1 / -1;
    }

    @media (min-width: 669px) and (max-width: 1150px) {
      grid-column: 1 / -1;
      margin-top: 3.2rem;
    }
  }

  &__content {
    grid-column: 6 / -1;
    margin-top: 4.8rem;

    @media (max-width: 480px) {
      grid-column: 1 / -1;
      margin-top: 0;
    }

    @media (min-width: 669px) and (max-width: 1150px) {
      grid-column: 1 / -1;
      margin-top: 2.4rem;
      margin-bottom: 2.4rem;
    }
  }

  &__socials {
    color: black;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 4.8rem;
    margin-top: 2.4rem;

    @media (min-width: 669px) and (max-width: 1150px) {
      margin-bottom: 0;
    }

    @media (min-width: 669px) and (max-width: 1150px) {
      grid-column: 1/-1;
    }

    & .icon {
      color: black;
      height: 24px;
      width: 24px;
    }
  }
}

.contactme {
  margin-bottom: 11rem;

  &__form {
    grid-column: 6 / -1;
    margin-top: 4.8rem;

    @media (max-width: 480px) {
      grid-column: 1 / -1;
      margin-top: 0;
    }

    @media (min-width: 669px) and (max-width: 1150px) {
      grid-column: 1/-1;
      margin-top: 0;
    }
  }

  &__btn {
    align-self: start;
  }

  label {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 700;
  }

  input,
  textarea {
    background-color: #e6e6e7;
    border: none;
    color: $grayish-dark-blue;
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 0.9rem;
    padding-left: 1.6rem;
    padding-top: 0.9rem;
    width: 100%;

    &:focus {
      border: 1px solid $slightly-desaturated-cyan;
      outline: 0;
    }

    &::placeholder {
      color: $grayish-dark-blue;
      opacity: 0.4;
    }
  }

  .input-control {
    margin-bottom: 2.4rem;
  }

  .input-control.success input,
  .input-control.success textarea {
    border: 1px solid $slightly-desaturated-cyan;
  }

  .input-control.error input,
  .input-control.error textarea {
    border: 1px solid $bright-red;
  }

  .error-message {
    color: $bright-red;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
  }
}
