.contact {
  margin-top: 15rem;
  align-items: center;
  margin-bottom: 15rem;

  @media (max-width: 480px) {
    margin-top: 6.4rem;
    margin-bottom: 8rem;
  }

  @media (min-width: 481px) and (max-width: 668px) {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }

  &__header {
    grid-column: 1 / span 4;

    @media screen and (max-width: 480px) {
      grid-column: 1 / -1;
      justify-self: center;
      text-align: center;
    }

    @media (min-width: 481px) and (max-width: 668px) {
      grid-column: 1 / span 6;
    }
  }

  &__hrline {
    height: 1px;
    background-color: $grayish-dark-blue;
    opacity: 0.3;
    border: none;
    grid-column: 5 / 11;

    @media (min-width: 320px) and (max-width: 668px) {
      display: none;
    }
  }

  &__button {
    grid-column: 11 / 14;
    justify-self: start;

    @media screen and (max-width: 480px) {
      grid-column: 1 / -1;
      justify-self: center;
    }

    @media (min-width: 481px) and (max-width: 668px) {
      grid-column: 8 / -1;
      justify-self: end;
    }
  }
}
