.hero {
  margin-bottom: 11.5rem;
  position: relative;

  @media (min-width: 744px) and (max-width: 1150px) {
    margin-bottom: 9.6rem;
  }

  @media screen and (max-width: 480px) {
    margin-bottom: 4rem;
  }

  &__text {
    background-color: $very-light-grey;
    bottom: 0;
    left: 0;
    max-width: 44.5rem;
    padding-top: 5.5rem;
    position: absolute;

    @media screen and (max-width: 480px) {
      background-color: #fff;
      bottom: -28rem;
      max-width: 311px;
      padding-top: 0;
    }
  }

  &__header {
    margin-bottom: 5.5rem;

    @media screen and (max-width: 480px) {
      margin-bottom: 3.2rem;
    }
  }
}
