.hero {
  position: relative;
  margin-bottom: 15rem;

  @media screen and (max-width: 480px) {
    margin-bottom: 4rem;
  }

  // @media screen and (max-width: 27rem) {
  //   margin-bottom: 33rem;
  // }

  &__text {
    background-color: $very-light-grey;
    padding-top: 5.5rem;
    max-width: 44.5rem;
    position: absolute;
    left: 0;
    bottom: 0;

    @media screen and (max-width: 480px) {
      // left: 3.2rem;
      max-width: 311px;
      padding-top: 0;
      bottom: -28rem;
      background-color: #fff;
    }
  }

  &__header {
    margin-bottom: 5.5rem;
    @media screen and (max-width: 480px) {
      margin-bottom: 3.2rem;
    }
  }
}
