.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.4rem;
  margin-top: 6.4rem;
  width: 100%;

  @media screen and (max-width: 480px) {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }

  &__logo {
    height: 3.2rem;
  }

  .navigation {
    &__list {
      display: flex;
      font-size: 1.2rem;
      gap: 4.2rem;
      letter-spacing: 2px;
      list-style: none;
      text-transform: uppercase;

      @media (min-width: 320px) and (max-width: 668px) {
        align-items: center;
        background-color: $grayish-dark-blue;
        flex-direction: column;
        gap: 3.2rem;
        padding: 4rem 7rem;
        position: fixed;
        right: -100%;
        top: 95px;
        transition: 0.7s;
        z-index: 100;

        &.active {
          right: 3.2rem;
        }
      }
    }

    &__link {
      transition: 0.3s ease;

      &:link,
      &:visited {
        color: $dark-blue;
        text-decoration: none;

        @media (min-width: 320px) and (max-width: 668px) {
          color: white;
          margin-bottom: 3.2rem;
        }
      }

      &:hover,
      &:active {
        color: $slightly-desaturated-cyan;
      }
    }

    &__hamburger {
      display: none;
      cursor: pointer;

      @media (min-width: 320px) and (max-width: 668px) {
        display: block;
        transition: all 0.3s ease-in-out;
      }

      &.active .navigation__bar:nth-child(2) {
        opacity: 0;
      }
      &.active .navigation__bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }
      &.active .navigation__bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }

    &__bar {
      background-color: $grayish-dark-blue;
      display: block;
      height: 1px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      width: 24px;
    }
  }
}
