.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
  max-width: 111rem;
  margin: 0 auto;

  @media screen and (max-width: 82rem) {
    gap: 1rem;
  }

  @media screen and (max-width: 27rem) {
    grid-template-columns: 1fr;
  }
}

.container {
  max-width: 111rem;
  margin: auto;

  @media screen and (max-width: 480px) {
    max-width: 311px;
  }
}
