/* ****************/
/* HEADER SECTION */
/* ****************/

.header {
  margin-top: 6.4rem;
  margin-bottom: 5.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  height: 3.2rem;
}

.navigation__list {
  list-style: none;
  display: flex;
  gap: 4.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  color: var(--primary-2);
}

.navigation__link:hover,
.navigation__link:active {
  color: var(--primary-1);
}

/* **************/
/* HERO SECTION */
/* **************/

.hero {
  position: relative;
  margin-bottom: 15rem;
}

/* .hero-photo {
  width: 100%;
} */

.hero__text {
  background-color: var(--bg-col);
  padding-top: 5.5rem;
  max-width: 44.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* ******************/
/* ABOUT ME SECTION */
/* ******************/

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12.5rem;
  margin-bottom: 15rem;
}

.content__img {
  width: 100%;
}

.content__txt {
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2.4rem;
}

.contact {
  display: flex;
  align-items: center;
  margin-bottom: 15rem;
  gap: 3.2rem;
  justify-content: space-between;
}

/* ****************/
/* FOOTER SECTION */
/* ****************/

.section-footer {
  background-color: var(--primary-3);
}

.footer {
  display: flex;
  align-items: center;
  padding: 2rem 0 2rem 0;
}

.footer-logo {
  height: 3.2rem;
}

.footer-nav {
  flex-basis: 100%;
}

.footer-list {
  list-style: none;
  display: flex;
  gap: 4.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.social-icon {
  width: 25px;
  height: 25px;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #fff;
}

.footer-link:hover,
.footer-link:active {
  color: var(--primary-1);
}

.footer-socials {
  display: flex;
  gap: 1.5rem;
}

/* ***********/
/* PORTFOLIO */
/* ***********/

.portfolio-hero {
  border: 4px solid red;
  margin-top: 9.4rem;
}
